<?xml version="1.0"?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="GemStone.GemFire.Cache, Version=8.2.0.0, Culture=neutral, PublicKeyToken=126e6338d9f55e0c, processorArchitecture=AMD64" />
      </assemblies>
    </compilation>
      <httpRuntime targetFramework="4.5"/>
  </system.web>
  <system.serviceModel>
    <services>
        <service name="MyRESTService.ProductRESTService" behaviorConfiguration="serviceBehavior">
            <endpoint address=""
                      binding="webHttpBinding"
                      contract="MyRESTService.IProductRESTService"
                      behaviorConfiguration="web"></endpoint>
          </service>
   </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="serviceBehavior">
                  <serviceMetadata httpGetEnabled="true"/>
                  <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>        
      </serviceBehaviors>
      <endpointBehaviors>
          <behavior name="web">
                <webHttp/>
            </behavior>
      </endpointBehaviors>
    </behaviors>
    <protocolMapping>
        <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>    
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>
  <connectionStrings>
    <add name="java-dotnet-messaging" connectionString="amqp://07d0df8d-5ad2-4af3-a866-82ea16e23e38:n31bpik0k2sdgiscb2bm8k199m@192.168.0.66/5a401ba3-6160-46ab-b958-4a57e4ae32e7" providerName="RabbitMQ.Client" />
    <add name="java-dotnet-cache" connectionString="gf:192.168.0.100:1099" providerName="RabbitMQ.Client" />
  </connectionStrings>
</configuration>
